src/main/mule/hello.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="83f6967f-c742-49ed-9f9d-c635fa14a024" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloFlow" doc:id="9feef08a-c207-42da-8ff2-1ee2f0ec8ef6" >
		<http:listener doc:name="Listener" doc:id="c7b51fca-f039-4c75-9072-fb53edd5fb72" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value="#[Data: [Messge: 1, Message2: 2, Message3: 4]]" doc:name="Set Payload" doc:id="753b37ee-b9b7-41b1-b6e7-ff4e554e832d" />
		<ee:transform doc:name="Transform Message" doc:id="774fda74-f0ab-480d-80cc-f4b2a2c9b78b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c9db7fad-27cf-47f0-bb7b-a040c4d6af47" message="#[payload]"/>
	</flow>
</mule>
